<!-- adver -->
<div class="adv-box clear">
	<ul>
		<li><button>▲</button></li>
		<li>
			<img class="small-img" src="/img/f_fuzhuang_1.jpg" />
			<img class="big-img" src="/img/f_fuzhuang_1.jpg" />
		</li>
		<li>
			<img class="small-img" src="/img/f_fuzhuang_2.jpg" />
			<img class="big-img" src="/img/f_fuzhuang_2.jpg" />
		</li>
		<li>
			<img class="small-img" src="/img/f_fuzhuang_3.jpg" />
			<img class="big-img" src="/img/f_fuzhuang_3.jpg" />
		</li>
		<li>
			<img class="small-img" src="/img/f_fuzhuang_4.jpg" />
			<img class="big-img" src="/img/f_fuzhuang_4.jpg" />
		</li>
		<li>
			<img class="small-img" src="/img/f_fuzhuang_5.jpg" />
			<img class="big-img" src="/img/f_fuzhuang_5.jpg" />
		</li>
		<li><button>▼</button></li>
	</ul>
</div>
