<!-- adver -->
<div class="adv-box clear">
	<ul>
		<li><button>▲</button></li>
		<li>
			<img class="small-img" src="/img/f_fuzhuang_1.jpg" />
		<li>
			<img class="small-img" src="/img/f_fuzhuang_2.jpg" />
		</li>
		<li>
			<img class="small-img" src="/img/f_fuzhuang_3.jpg" />
		</li>
		<li>
			<img class="small-img" src="/img/f_fuzhuang_4.jpg" />
		</li>
		<li>
			<img class="small-img" src="/img/f_fuzhuang_5.jpg" />
		</li>
		<li><button>▼</button></li>
	</ul>
	<ul class="ul-cover">
		<li></li>
		<li><img data-num ="0" class="big-img" src="/img/f_fuzhuang_1.jpg" /></li>
		<li><img data-num ="1" class="big-img" src="/img/f_fuzhuang_2.jpg" /></li>
		<li><img data-num ="2" class="big-img" src="/img/f_fuzhuang_3.jpg" /></li>
		<li><img data-num ="3" class="big-img" src="/img/f_fuzhuang_4.jpg" /></li>
		<li><img data-num ="4" class="big-img" src="/img/f_fuzhuang_5.jpg" /></li>
		<li></li>
	</ul>
</div>
