<!-- friends_link.html -->
<div id="f-friends-link">
	<h3><b>友情链接</b></h3>
	<ul class="clear">
		<li><a href="#">光明网</a></li>
		<li><a href="#">央广网</a></li>
		<li><a href="#">国际在线</a></li>
		<li><a href="#">中国西部网</a></li>
		<li><a href="#">环球网</a></li>
		<li><a href="#">中青在线</a></li>
		<li><a href="#">中青网</a></li>
		<li><a href="#">海外网</a></li>
		<li><a href="#">中国网</a></li>
		<li><a href="#">未来网</a></li>
		<li><a href="#">千龙网</a></li>
		<li><a href="#">新京报</a></li>
		<li><a href="#">北青网</a></li>
		<li><a href="#">法制晚报</a></li>
		<li><a href="#">北京晨报</a></li>
		<li><a href="#">北京商报</a></li>
		<li><a href="#">奥一网</a></li>
		<li><a href="#">金羊网</a></li>
		<li><a href="#">华裔网</a></li>
		<li><a href="#">新民网</a></li>
		<li><a href="#">红网</a></li>
		<li><a href="#">中国江苏网</a></li>
		<li><a href="#">中国江西网</a></li>
		<li><a href="#">齐鲁网</a></li>
		<li><a href="#">南海网</a></li>
		<li><a href="#">海峡网</a></li>
		<li><a href="#">华声在线</a></li>
		<li><a href="#">中国蓝TV</a></li>
		<li><a href="#">北国网</a></li>
		<li><a href="#">龙虎网</a></li>
	</ul>
</div>
