<div id="f-hot-imgs">
	<h3><b>精彩图片</b></h3>
	<ul class="clear">
		<li class="clear">
			<img src="/img/f_jingcai_img_1.jpg" >
			<a href="#">曾被称为“到了五道梁，哭爹又叫</a>
		</li>
		<li class="clear">
			<img src="/img/f_jingcai_img_2.jpg" >
			<a href="#">曾被称为“到了五道梁，哭爹又叫</a>
		</li>
		<li class="clear">
			<img src="/img/f_jingcai_img_3.jpg" >
			<a href="#">曾被称为“到了五道梁，哭爹又叫</a>
		</li>
		<li class="clear">
			<img src="/img/f_jingcai_img_4.jpg" >
			<a href="#">曾被称为“到了五道梁，哭爹又叫</a>
		</li>
		<li class="clear">
			<img src="/img/f_jingcai_img_5.jpg" >
			<a href="#">曾被称为“到了五道梁，哭爹又叫</a>
		</li>
		<li class="clear">
			<img src="/img/f_jingcai_img_6.jpg" >
			<a href="#">曾被称为“到了五道梁，哭爹又叫</a>
		</li>
	</ul>
</div>
