<!-- header -->
<nav id="index-nav" class="clear">
	<ul id="nav-left" class="clear">
		<li><a href="#">下载app</a></li>
		<li id="weather">
			<span>北京</span><span>晴</span><span>-10℃</span>/<span>4℃</span><span>▼</span>
			<ul>
				<li><span>北京</span><span>西南风2级</span><span>良84</span></li>
				<li><span>今天</span><span>雨夹雪</span><span>-10℃/4℃</span></li>
				<li><span>明天</span><span>晴</span><span>8℃/13℃</span></li>
				<li><span>后天</span><span>小雨</span><span>0℃/10℃</span></li>
			</ul>
		</li>
	</ul>
	<ul id="nav-right" class="clear">
		<li><a href="#">侵权投诉</a></li>
		<li id="nav-produce">头条产品
			<ul>
				<li><a href="#">问答</a></li>
				<li><a href="#">头条号</a></li>
				<li><a href="#">图虫</a></li>
				<li><a href="#">正版图库</a></li>
				<li><a href="#">广告投放</a></li>
				<li><a href="#">懂车帝</a></li>
			</ul>
		</li>
	</ul>
</nav>