<!-- hot_news.html -->
<div id="hotest-news">
	<h3>最热新闻</h3>
	<ul>
		<li>
			<b>1</b>
			<a href="#">所有新建风电、光伏发电项目都不再享受国家补贴了？国家能源局解读</p></li>
		<li>
			<b>2</b>
			<a href="#">当兵名额有限，他浪费了一个名额</a>
		</li>
		<li>
			<b>3</b>
			<a href="#">河南男子杀死妻弟家三口人被通缉 曾驾车撞死两人入狱</a>
		</li>
		<li>
			<b>4</b>
			<a href="#">苗圩：今年部分地区将发放5G临时牌照，下半年用上5G手机</a>
		</li>
		<li>
			<b>5</b>
			<a href="#">苗圩：今年部分地区将发放5G临时牌照，下半年用上5G手机</a>
		</li>
		<li>
			<b>6</b>
			<a href="#">苗圩：今年部分地区将发放5G临时牌照，下半年用上5G手机</a>
		</li>
	</ul>
</div>