<!-- menuer -->
<div class="menu-box">
	<div class="logo">今日头条</div>
	<ul class="menu-list">
		<li class="active-li"><a href="#">推荐</a></li>
		<li><a href="#">阳光宽频</a></li>
		<li><a href="/ajm/news_hot?wholi=3">热点</a></li>
		<li><a href="/ajm/test">直播</a></li>
		<li><a href="#">图片</a></li>
		<li><a href="#">科技</a></li>
		<li><a href="#">娱乐</a></li>
		<li><a href="#">游戏</a></li>
		<li><a href="#">体育</a></li>
		<li><a href="#">汽车</a></li>
		<li><a href="#">财经</a></li>
		<li><a href="#">搞笑</a></li>
	</ul>
</div>

