<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= title%></title>
		<link rel="stylesheet" href="/css/public.css" />
	</head>
	<body>
		<% include ../../module/header.html%>
		<div class="wrap clear">
			<% include ../../module/detail_menu.html%>
			<div class="main-box">
				<div class="detail-news-show">
					<h1>“斜杠青年”季凌莉：白衣天使·退伍大学生士兵·救人者</h1>
					<p>“斜杠青年”季凌莉：白衣天使·退伍大学生士兵·救人者</p>
					<p>2018年12月28日清晨，一个普通的工作日，然而“砰——”的一声巨响打破了宁静，在北京西四环中路，一辆轿车与摩托
					车车相撞，摩托车车体损伤严重，一名男性老人受伤倒地，头上的鲜血汩汩往外流。</p>
					<p>人群迅速聚拢，解放军总医院第一医学中心麻醉手术中心恢复室的实习护士季凌莉在上班途中，目睹这一事故
					后，脑袋“嗡”的一声，来不及多想便立即拨开人群冲到老人身边，展开观察救护。</p>
					<p>正值早高峰，身边车流穿梭，不远处的机动车漏油随时可能引起燃烧，顾不上考虑后果，她果断取下前几天妈妈
					送的本命年礼物，将红色围巾包在老人头上。在-16℃的寒风中，坚持跪在地上，为老人按压止血，不断鼓励老人时刻保持清醒。</p>
					<p>与此同时，正准备前往宿舍看望学生的解放军总医院护理部周燕玲护士长接到了季凌莉的电话，了解情况后，她立马联系
					救护车，短短十几分钟后，季凌莉便带着老人出现在医院急救室。</p>
					<img src="/img/f_multi_img_1_1.jpg" />
					<p>由于受伤老人出血量大，在救护过程中，凌莉的双手沾满了血，雪白的羽绒服上沾了不少血迹。周燕玲护士长看到凌
					莉，上前握着她的手，却感到她手指冰凉，微微颤抖，一边安抚，一边给她拍下这一刻，留作纪念。</p>
					<p>“斜杠青年”季凌莉：白衣天使·退伍大学生士兵·救人者</p>
					<p>季凌莉白色羽绒服上的血迹。 周燕玲 摄</p>
					<img src="/img/f_multi_img_1_2.jpg" />
					<p>万幸，由于抢救及时，老人脱离了生命危险。事后，凌莉给妈妈打了个电话，妈妈连说“好孩子”，其实母女俩心里都懂……</p>
					<p>救人时，一个似曾相识的场景曾在脑海中闪现。高二，凌莉的爸爸发生车祸，遗憾的是，当时无人上前施救，错过最佳治疗时
					间，不幸去世。多年过去，这一直是她心中挥之不去的痛。直至后来报考医科大学、入伍参军，都带着一个未了的心愿。</p>
					<p>人生的缺角，总是在不经意间被圆上。这一次，她做到了。如同时空交错一般，弥补了当年的遗憾。</p>
					<p>“斜杠青年”季凌莉：白衣天使·退伍大学生士兵·救人者</p>
					<p>季凌莉不同时期的照片。</p>
					<p>时下，越来越多的年轻人称自己为“斜杠青年”，在多重身份的投影下，映射出如今24岁的季凌莉。有时候，细节总能暴露身份。</p>
					<p>周燕玲护士长记得特别清楚，那时她去宿舍看望刚来实习的学生，刚进门她就指着一个床位问，“这个上铺是不是你们队长
					的？”周围女生一下笑出声，问周护士长怎么知道。</p>
					<p>“被子捏得有棱有角，床铺收拾得干净利落，一看就当过兵。”周燕玲对这个小姑娘印象深刻。</p>
					<p>胆大心细、爱笑、做事雷厉风行，退伍两年，无论在哪儿都保持军人作风，大家给凌莉的评价都是一个词“靠谱”。这
					次不管不顾冲上去救人，在大家看来也并无意外，“像是她能干出来的事儿”。</p>
					<p>5年前，大学生活刚开了个头，凌莉还在学校天使乐团吹萨克斯，忙着参加各种社团，在听了学校的大学生士兵宣讲
					之后，心里绿色的种子便发了芽。在妈妈不舍的眼泪中，在同学朋友的支持下，她越发坚定“我要当兵”。</p>
					<p>“斜杠青年”季凌莉：白衣天使·退伍大学生士兵·救人者</p>
					<p>季凌莉身着护士服。</p>
					<img src="/img/f_multi_img_1_3.jpg" />
					<p>接下来是一个多月的漫长等待，中途险些放弃，最后峰回路转，等来了可以参军入伍的好消息。然而初入部队，陌生
					的环境、看起来严肃的班长让凌莉有些不适，在战友的关怀下渐渐适应了环境，在北部战区某通信团，收获了一群如亲人般的战友。</p>
					<p>手中的医学书本变成钢枪，口中的医疗名词变成响亮的军号，她从一个战场转向另一个战场。</p>
					<p>又是两年，退伍后脱下军装，再次换上一身白衣，她依然保持战士冲锋的姿态，勇往直前。这次能到解放军总医院
					实习，冥冥之中似乎是军旅生涯的另一种延续。</p>
					<p>得知她救人后，昔日的战友微信群里竖起满屏大拇指，都说“凌莉，好样的”！</p>
					<p>“斜杠青年”季凌莉：白衣天使·退伍大学生士兵·救人者</p>
					<p>主题教育活动“学习身边的榜样”，让季凌莉在全科同事面前讲述自己的事迹。</p>
					<p>“真的是一件小事”，凌莉口中反复强调的话，在大家看来，却并不容易。</p>
					<p>麻醉手术中心政治协理员张靖意识到这件事蕴藏着巨大的正能量，第一时间利用早交班15分钟进行了“学习身边的
					榜样”的主题教育活动，让季凌莉在全科同事面前讲述自己的事迹，用身边事教育身边人、感动每个人宣传见义勇为、救死
					扶伤的事迹。纪实播报《与死神赛跑，总医院护士跪地救人感动你我！》发布在公众号“301医院”上，一时间在朋友圈
					刷屏，1.2万点击量、200多条评论，成为总医院开创微信公众号以来的“双料”冠军，数字代表“热度”，凌莉用正能
					量温暖了这个冬天。</p>
					<p>凌莉后来才知道，她的事迹感染了这么多人。麻醉手术中心米卫东主任看到文章后留言，“穿越冬寒的温暖，沁入
					深心的感动，凌莉，好样的！自豪，你曾是麻醉手术中心的一员，愿你追梦逐光，一生向上。”母校哈尔滨医科大学报
					道了她的事迹、久未联系的亲戚朋友专门联系她，只为竖起大拇指。</p>
					<p>“斜杠青年”季凌莉：白衣天使·退伍大学生士兵·救人者</p>
					<p>工作中的季凌莉。邓曼丽 提供</p>
					<img src="/img/f_multi_img_1_4.jpg" />
					<p>采访接近尾声，凌莉回到岗位继续工作，不大的麻醉手术中心恢复室，一天24小时始终亮如白昼，她熟练
					地对术后麻醉恢复病人进行护理工作，仔细观察病人病情体征，耐心跟患者交流。</p>
					<p>身边同事来回穿梭，又是忙碌的一天。穿着手术服、戴口罩的季凌莉迅速融为他们的一员，时针
					指向12:30，早已过了吃饭时间，脚步却没有停下半刻。</p>
					<p>护理部送来一条崭新的红色围巾，她洗掉白色羽绒服上的血迹，生活按照既定轨迹继续运转。</p>
					<p>“斜杠青年”季凌莉——“‘90后’护士/退伍大学生士兵/救人者”，她从来没有离开“战场”，并始终以生命的名义战斗。</p>
					<p>危急时刻，我相信大喊一声“季凌莉”，她一定会响亮地回答“到”！</p>
					<p>国防在线客户端·解放军新闻传播中心融媒体出品</p>
				</div>
			</div>
			<div class="others-box">
				<div class="others-flow-box">
					<% include ../../module/hotest_news.html%>
					<% include ../../module/about_more.html%>
					<% include ../../module/friends_link.html%>
				</div>
				<div class="others-fixed-box">
					<% include ../../module/adver.html%>
					<% include ../../module/hot_news_24.html%>
				</div>
			</div>
		</div>
		<script src="/js/public.js"></script>
	</body>
</html>


