<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>今日头条首页</title>
		<link rel="stylesheet" href="/css/flc_public.css" />
	</head>
	<body>
		<nav id="index-nav" class="clear">
			<ul id="nav-left" class="clear">
				<li><a href="#">下载app</a></li>
				<li><span>北京</span><span>晴</span><span>-9℃</span>/<span>4℃</span><span>▼</span></li>
			</ul>
			<ul id="nav-right" class="clear">
				<li><a href="#">侵权投诉</a></li>
				<li><a href="#">头条产品</a></li>
			</ul>
		</nav>
		<div id="index-wrap" class="clear">
			<div id="index-menu"></div>
			<div id="index-body"></div>
			<div id="index-others"></div>
		</div>
	</body>
</html>
