<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>娱乐</title>
		<link rel="shortcut icon" href="/img/wl/etm/wl_server_tx01.jpg" />
		<link rel="stylesheet" href="/css/public.css" />
		<link rel="stylesheet" href="/css/wl.css" />
	</head>
	<body>
		<% include ../module/header.html%>
		<div class="wrap clear">
			<% include ../module/menuer.html%>
			<div class="main-box">
				<!-- tab切换列表 -->
				<div class="funny_news">
					
					<div class="etm_tab_list">
						<div class="list_name"><span></span><h3>体育列表</h3><span></span></div>
						<ul>
							<li class="a_tab1">
								<a href="##" >
									<div class="tab1">全部</div>
									<div class="tab1_children tabChildrens" name='tabChildrens'>
										<div class="cycle_news">
											<div class="left_img">
												<img src="/img/wl/etm/w_etm_all_01.jpg" alt="">
											</div>
											<div class="right_content">
												<div class="right_top_text01">
													<h2> 维尼修斯疑似点球VAR裁判对话披露：没有事，一切OK </h2>
												</div>
												<div class="right_top_text02">
													<img src="/img/wl/funny/w_funny_icon_2.png" alt="">
													<span> 虎扑足球&nbsp;&nbsp;.&nbsp;&nbsp;</span>
													<span>1分钟前</span>
												</div>
											</div>
											<div class="right_x"><a href="##"><span>不感兴趣&nbsp;</span><b>X</b></a></div>
										</div>
										<!-- 第一条 end -->
										<div class="cycle_news">
											<div class="left_img">
												<img src="/img/wl/etm/w_etm_all_02.jpg" alt="">
											</div>
											<div class="right_content">
												<div class="right_top_text01">
													<h2> 图片报：表现不佳，沙尔克或赛季结束后出售鲁迪 </h2>
												</div>
												<div class="right_top_text02">
													<img src="/img/wl/funny/w_funny_icon_2.png" alt="">
													<span> 直播吧&nbsp;&nbsp;.&nbsp;&nbsp;</span>
													<span>11分钟前</span>
												</div>
											</div>
											<div class="right_x"><a href="##"><span>不感兴趣&nbsp;</span><b>X</b></a></div>
										</div>
										<div class="cycle_news">
											<div class="left_img">
												<img src="/img/wl/etm/w_etm_all_03.jpg" alt="">
											</div>
											<div class="right_content">
												<div class="right_top_text01">
													<h2> 勇士狂轰51分！杜兰特1数据单节17分更可怕 大踏步比肩詹皇 </h2>
												</div>
												<div class="right_top_text02">
													<img src="/img/wl/funny/w_funny_icon_2.png" alt="">
													<span> 纳什均衡点 &nbsp;&nbsp;.&nbsp;&nbsp;</span>
													<span>18分钟前</span>
												</div>
											</div>
											<div class="right_x"><a href="##"><span>不感兴趣&nbsp;</span><b>X</b></a></div>
										</div>
										<div class="cycle_news">
											<div class="left_img">
												<img src="/img/wl/etm/w_etm_all_04.jpg" alt="">
											</div>
											<div class="right_content">
												<div class="right_top_text01">
													<h2> 西蒙尼：球队冬窗引援的事不取决于我 </h2>
												</div>
												<div class="right_top_text02">
													<img src="/img/wl/funny/w_funny_icon_2.png" alt="">
													<span>直播吧&nbsp;&nbsp;.&nbsp;&nbsp;</span>
													<span>22分钟前</span>
												</div>
											</div>
											<div class="right_x"><a href="##"><span>不感兴趣&nbsp;</span><b>X</b></a></div>
										</div>

									</div>
								</a>
							</li>
							<li class="a_tab2">
								<a href="##" >
									<div class="tab1 tab2">NBA</div>
									<div class="tab2_children tabChildrens" name='tabChildrens'>
										<div class="cycle_news">
											<div class="left_img">
												<img src="/img/wl/etm/w_nba_all_01.jpg" alt="">
											</div>
											<div class="right_content">
												<div class="right_top_text01">
													<h2> 特雷杨24+6+11老鹰大胜雷霆！威少31+6+11  </h2>
												</div>
												<div class="right_top_text02">
													<img src="/img/wl/funny/w_funny_icon_2.png" alt="">
													<span> OnFire ⋅&nbsp;&nbsp;.&nbsp;&nbsp;</span>
													<span>6分钟前</span>
												</div>
											</div>
											<div class="right_x"><a href="##"><span>不感兴趣&nbsp;</span><b>X</b></a></div>
										</div>
										<!-- 第一条end -->
										<div class="cycle_news">
											<div class="left_img">
												<img src="/img/wl/etm/w_nba_all_02.jpg" alt="">
											</div>
											<div class="right_content">
												<div class="right_top_text01">
													<h2> 超级反派？8年前詹姆斯第一次回到克利夫兰有多轰动！</h2>
												</div>
												<div class="right_top_text02">
													<img src="/img/wl/funny/w_funny_icon_2.png" alt="">
													<span> 篮球大历史&nbsp;&nbsp;.&nbsp;&nbsp;</span>
													<span>10分钟前</span>
												</div>
											</div>
											<div class="right_x"><a href="##"><span>不感兴趣&nbsp;</span><b>X</b></a></div>
										</div>
										<div class="cycle_news">
											<div class="left_img">
												<img src="/img/wl/etm/w_nba_all_03.jpg" alt="">
											</div>
											<div class="right_content">
												<div class="right_top_text01">
													<h2> NBA中以球员名字命名的“5大条款”隆多条款太尴尬了 </h2>
												</div>
												<div class="right_top_text02">
													<img src="/img/wl/funny/w_funny_icon_2.png" alt="">
													<span> 表妹说篮球 ⋅&nbsp;&nbsp;.&nbsp;&nbsp;</span>
													<span>15分钟前</span>
												</div>
											</div>
											<div class="right_x"><a href="##"><span>不感兴趣&nbsp;</span><b>X</b></a></div>
										</div>
										<div class="cycle_news">
											<div class="left_img">
												<img src="/img/wl/etm/w_nba_all_04.jpg" alt="">
											</div>
											<div class="right_content">
												<div class="right_top_text01">
													<h2> 迈克尔乔丹VS麦迪逊广场花园球馆 </h2>
												</div>
												<div class="right_top_text02">
													<img src="/img/wl/funny/w_funny_icon_2.png" alt="">
													<span> 铭话体育 ⋅&nbsp;&nbsp;.&nbsp;&nbsp;</span>
													<span>21分钟前</span>
												</div>
											</div>
											<div class="right_x"><a href="##"><span>不感兴趣&nbsp;</span><b>X</b></a></div>
										</div>
									</div>
								</a>
							</li>
							<li class="a_tab3">
								<a href="##" >
									<div class="tab1 tab3">CBA</div>
									<div class="tab3_children tabChildrens">
										<div class="cycle_news">
											<div class="left_img">
												<img src="/img/wl/etm/w_cba_all_01.jpg" alt="">
											</div>
											<div class="right_content">
												<div class="right_top_text01">
													<h2>  辽宁官方发布：辽篮主场将安装中央斗屏，尽全力留住周琦 </h2>
												</div>
												<div class="right_top_text02">
													<img src="/img/wl/funny/w_funny_icon_2.png" alt="">
													<span> 疯狂ai体育 ⋅&nbsp;&nbsp;.&nbsp;&nbsp;</span>
													<span>1分钟前</span>
												</div>
											</div>
											<div class="right_x"><a href="##"><span>不感兴趣&nbsp;</span><b>X</b></a></div>
										</div>
										<!-- 第一条end -->
										<div class="cycle_news">
											<div class="left_img">
												<img src="/img/wl/etm/w_cba_all_02.jpg" alt="">
											</div>
											<div class="right_content">
												<div class="right_top_text01">
													<h2> 广东胜福建，徐杰发挥出色，过生日收祝福 朱世龙回应是否换杰特 </h2>
												</div>
												<div class="right_top_text02">
													<img src="/img/wl/funny/w_funny_icon_2.png" alt="">
													<span> 小天聊篮球 &nbsp;&nbsp;.&nbsp;&nbsp;</span>
													<span>3分钟前</span>
												</div>
											</div>
											<div class="right_x"><a href="##"><span>不感兴趣&nbsp;</span><b>X</b></a></div>
										</div>
										<div class="cycle_news">
											<div class="left_img">
												<img src="/img/wl/etm/w_cba_all_03.jpg" alt="">
											</div>
											<div class="right_content">
												<div class="right_top_text01">
													<h2> 强悍外援组合令辽篮名宿偷着乐 昔日劲旅猛醒将搅乱CBA格局？ </h2>
												</div>
												<div class="right_top_text02">
													<img src="/img/wl/funny/w_funny_icon_2.png" alt="">
													<span> 洛伊的体育天地 &nbsp;&nbsp;.&nbsp;&nbsp;</span>
													<span>11分钟前</span>
												</div>
											</div>
											<div class="right_x"><a href="##"><span>不感兴趣&nbsp;</span><b>X</b></a></div>
										</div>
										<div class="cycle_news">
											<div class="left_img">
												<img src="/img/wl/etm/w_cba_all_04.jpg" alt="">
											</div>
											<div class="right_content">
												<div class="right_top_text01">
													<h2> 67+18+18！“劳模组合”统治赛场，吴庆龙收获“保八争四”杀手锏 </h2>
												</div>
												<div class="right_top_text02">
													<img src="/img/wl/funny/w_funny_icon_2.png" alt="">
													<span> 小李说篮球 ⋅&nbsp;&nbsp;.&nbsp;&nbsp;</span>
													<span>1小时前</span>
												</div>
											</div>
											<div class="right_x"><a href="##"><span>不感兴趣&nbsp;</span><b>X</b></a></div>
										</div>

									</div>
								</a>
							</li>
							<li class="a_tab4">
								<a href="##" >
									<div class="tab1 tab4">中超</div>
									<div class="tab4_children tabChildrens">
										<div class="cycle_news">
											<div class="left_img">
												<img src="/img/wl/etm/w_zc_all_01.jpg" alt="">
											</div>
											<div class="right_content">
												<div class="right_top_text01">
													<h2> 大马主裁严重误判遭亚足联禁哨 莫须有点球+漏点护佑日本取胜 </h2>
												</div>
												<div class="right_top_text02">
													<img src="/img/wl/funny/w_funny_icon_2.png" alt="">
													<span> 菱镜头 &nbsp;&nbsp;.&nbsp;&nbsp;</span>
													<span>2分钟前</span>
												</div>
											</div>
											<div class="right_x"><a href="##"><span>不感兴趣&nbsp;</span><b>X</b></a></div>
										</div>
										<!-- 第一条end -->
										<div class="cycle_news">
											<div class="left_img">
												<img src="/img/wl/etm/w_zc_all_02.jpg" alt="">
											</div>
											<div class="right_content">
												<div class="right_top_text01">
													<h2> 孙兴慜累趴了也要战国足，而他的英超队友已经开始“投靠”中国 </h2>
												</div>
												<div class="right_top_text02">
													<img src="/img/wl/funny/w_funny_icon_2.png" alt="">
													<span>启航帅&nbsp;&nbsp;.&nbsp;&nbsp;</span>
													<span>4分钟前</span>
												</div>
											</div>
											<div class="right_x"><a href="##"><span>不感兴趣&nbsp;</span><b>X</b></a></div>
										</div>
										<div class="cycle_news">
											<div class="left_img">
												<img src="/img/wl/etm/w_zc_all_03.jpg" alt="">
											</div>
											<div class="right_content">
												<div class="right_top_text01">
													<h2> 国足vs韩国前瞻：国足不败即头名出线，孙兴慜或成最大变数 </h2>
												</div>
												<div class="right_top_text02">
													<img src="/img/wl/funny/w_funny_icon_2.png" alt="">
													<span> 静中闲看云自卷舒 &nbsp;&nbsp;.&nbsp;&nbsp;</span>
													<span>9分钟前</span>
												</div>
											</div>
											<div class="right_x"><a href="##"><span>不感兴趣&nbsp;</span><b>X</b></a></div>
										</div>
										<div class="cycle_news">
											<div class="left_img">
												<img src="/img/wl/etm/w_zc_all_04.jpg" alt="">
											</div>
											<div class="right_content">
												<div class="right_top_text01">
													<h2> 中超新贵U23人才储备令各队羡慕，可单组一套首发，个个身手不凡 </h2>
												</div>
												<div class="right_top_text02">
													<img src="/img/wl/funny/w_funny_icon_2.png" alt="">
													<span> 众网鸣体育&nbsp;&nbsp;.&nbsp;&nbsp;</span>
													<span>12分钟前</span>
												</div>
											</div>
											<div class="right_x"><a href="##"><span>不感兴趣&nbsp;</span><b>X</b></a></div>
										</div>


									</div>
								</a>
							</li>
							<li class="a_tab5">
								<a href="##" >
									<div class="tab1 tab5">意甲</div>
									<div class="tab5_children tabChildrens">
										<div class="cycle_news">
											<div class="left_img">
												<img src="/img/wl/etm/w_yj_all_01.jpg" alt="">
											</div>
											<div class="right_content">
												<div class="right_top_text01">
													<h2> GIF-谁给他的勇气！伊瓜因竟然敢在背后飞铲加图索 </h2>
												</div>
												<div class="right_top_text02">
													<img src="/img/wl/funny/w_funny_icon_2.png" alt="">
													<span>搜达足球资讯&nbsp;&nbsp;.&nbsp;&nbsp;</span>
													<span>1分钟前</span>
												</div>
											</div>
											<div class="right_x"><a href="##"><span>不感兴趣&nbsp;</span><b>X</b></a></div>
										</div>
										<!-- 第一条end -->
										<div class="cycle_news">
											<div class="left_img">
												<img src="/img/wl/etm/w_yj_all_02.jpg" alt="">
											</div>
											<div class="right_content">
												<div class="right_top_text01">
													<h2> 枪手10号彻底被弃用！甩卖给国米尤文被拒绝，35万周薪成最大障碍 </h2>
												</div>
												<div class="right_top_text02">
													<img src="/img/wl/funny/w_funny_icon_2.png" alt="">
													<span> 懂英超&nbsp;&nbsp;.&nbsp;&nbsp;</span>
													<span>2分钟前</span>
												</div>
											</div>
											<div class="right_x"><a href="##"><span>不感兴趣&nbsp;</span><b>X</b></a></div>
										</div>
										<div class="cycle_news">
											<div class="left_img">
												<img src="/img/wl/etm/w_yj_all_03.jpg" alt="">
											</div>
											<div class="right_content">
												<div class="right_top_text01">
													<h2> 意媒：米兰或想卖掉恰尔汗奥卢求购皮亚特克 </h2>
												</div>
												<div class="right_top_text02">
													<img src="/img/wl/funny/w_funny_icon_2.png" alt="">
													<span>虎扑足球&nbsp;&nbsp;.&nbsp;&nbsp;</span>
													<span>10分钟前</span>
												</div>
											</div>
											<div class="right_x"><a href="##"><span>不感兴趣&nbsp;</span><b>X</b></a></div>
										</div>
										<div class="cycle_news">
											<div class="left_img">
												<img src="/img/wl/etm/w_yj_all_04.jpg" alt="">
											</div>
											<div class="right_content">
												<div class="right_top_text01">
													<h2> 米兰锁定皮亚特克，热那亚考虑引进巴神作替代 </h2>
												</div>
												<div class="right_top_text02">
													<img src="/img/wl/funny/w_funny_icon_2.png" alt="">
													<span> 直播吧&nbsp;&nbsp;.&nbsp;&nbsp;</span>
													<span>17分钟前</span>
												</div>
											</div>
											<div class="right_x"><a href="##"><span>不感兴趣&nbsp;</span><b>X</b></a></div>
										</div>

									</div>
								</a>
							</li>
						</ul>
					</div>
					
					
				</div>
				<!-- 视频播放 -->
				<div class="news_video">

							
				</div>
				<!-- 风景列表 -->
				<div class="scenery_list">
					
				</div>
				<!-- 底部 -->
				<div class="main_bottom">
					<!-- <h5>.&nbsp;&nbsp;.&nbsp;&nbsp;&nbsp;&nbsp;加载中&nbsp;&nbsp;&nbsp;&nbsp;.&nbsp;&nbsp;.</h5> -->
					<span>.&nbsp;</span><span>.&nbsp;</span><h5>加载中</h5><span>&nbsp;.</span><span>&nbsp;.</span>
				</div>
			</div>
			<div class="others-box">
				<!-- 天气面板 -->
				<div class="taobao_recommended">
					<div class="recommended_content">
						<!-- ####### -->
						<div class="container">
							<div id="txt-pub-time">
								<p ><span id="city_weather">成都</span>&nbsp;&nbsp;天气预报</p>
								
							</div>
							<div class="city_select">
									<ul>
										<li data_city='http://www.weather.com.cn/weather/101280601.shtml'>深圳</li>
										<li data_city='http://www.weather.com.cn/weather/101010100.shtml'>北京</li>
										<li data_city='http://www.weather.com.cn/weather/101020100.shtml'>上海</li>
										<li data_city='http://www.weather.com.cn/weather/101270101.shtml'>成都</li>
									</ul>

								</div>
							<div id="ct-main">
								<div id="air-level1">
									<div><img src="/img/wl/etm/wl_weather_01.png" alt=""></div>
									<p id="txt-temperature"><%= data[0].leg%></p>
								</div>
								
								<p id="txt-name"><%= data[0].wea%></p>
								<div id="ct-aqi" class="air-level2">
									<div></div>
									<p class="info-aqi">79 良</p> 
								</div>
								
							</div>
							
							<div id="ct-tips">
								<p id="txt-tips">光芒透过云缝，洒向大地~</p>
								<a id="btn-tip-switch clear"></a>
							</div>
							<div id="ct-current-weather">
								<ul>
								<% for( let a=0;a<7;a++) {%>
								<!-- <input type="hidden" class="wea" value=<%= data[a].wea%>> -->
								<input type="hidden" class="leg" value=<%= data[a].leg%>  wea_d=<%= data[a].wea%>>
									<li class="weather_day"><span data-num0='<%= a%>'><%= data[a].title%></span></li>
								<% }%>	
								</ul>
							</div>
						</div>
						<!-- ############ -->
					</div>
				</div>
				<!-- 客服助手 -->
				<div class="Wonderful_pictures">
					<div class="Wonderful_top"><h2>客服助手</h2></div>
					<!-- ######### -->
					<div class="content">
						<div class="talk_show" id="words">
							<div class="atalk">

								<img src="/img/wl/etm/wl_server_tx01.jpg" alt="">

								<span class="glyphicon glyphicon-triangle-left right00" aria-hidden="true"></span>
								<span class="asay">你好！很高兴为你服务！！！</span>
							</div>
							<div class="btalk">
								<span class="bsay">你好！</span>
								<i class="layui-icon layui-icon-triangle-r"></i>
								<img src="/img/wl/etm/wl_server_notx.png" alt="">
							</div>							
						</div>
					</div>
					<!-- 发送底部 -->
					<div class="navbar navbar-default navbar-fixed-bottom footer02">
						<div class="comment02">

							<div class="yuyin_send"><i class="layui-icon layui-icon-voice"></i></div>

							<div class="content_send"><input type="text" placeholder="" class="msg"></div>

							<div class="submit_send">
								<p>发送</p>
							</div>
							<div class="yuyin_send motions_send">
								<a href="##">
									<i class="layui-icon layui-icon-face-smile-b"></i>
								</a>
							</div>
						</div>
					</div>
					<!-- ############## -->
				</div>
				<!-- 友情链接 -->		
				
			</div>
		</div>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="/js/public.js"></script>
		<script src="/js/wl_etm.js"></script>
	</body>
</html>




			

				
				

