<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>搞笑</title>
		<link rel="shortcut icon" href="/img/wl/etm/wl_server_tx01.jpg" />
		<link rel="stylesheet" href="/css/public.css" />
		<link rel="stylesheet" href="/css/wl.css" />
	</head>
	<body>
		<% include ../module/header.html%>
		<div class="wrap clear">
			<% include ../module/menuer.html%>
			<div class="main-box">
				<!-- 搞笑新闻列表 -->
				<div class="funny_news">
					<!-- 第一条 start-->
					<div class="list_name"><span></span><h3>搞笑列表</h3><span></span></div>
					<div class="cycle_news">
						<div class="left_img">
							<img src="/img/wl/funny/w_funny_1.jpg" alt="">
						</div>
						<div class="right_content">
							<div class="right_top_text01">
								<h2>你们小学的校花校草长什么样？</h2>
							</div>
							<div class="right_top_text02">
								<img src="/img/wl/funny/w_funny_icon_2.png" alt="">
								<span>悟空回答&nbsp;&nbsp;.&nbsp;&nbsp;</span>
								<span>1分钟前</span>
							</div>
						</div>
						<div class="right_x"><a href="##"><span>不感兴趣&nbsp;</span><b>X</b></a></div>
					</div>
					<!-- 第一条 end-->
					<div class="cycle_news">
						<div class="left_img">
							<img src="/img/wl/funny/w_funny_2.jpg" alt="">
						</div>
						<div class="right_content">
							<div class="right_top_text01">
								<h2>你们小学的校花校草长什么样？</h2>
							</div>
							<div class="right_top_text02">
								<img src="/img/wl/funny/w_funny_icon_2.png" alt="">
								<span>悟空回答&nbsp;&nbsp;.&nbsp;&nbsp;</span>
								<span>1分钟前</span>
							</div>
						</div>
						<div class="right_x"><a href="##"><span>不感兴趣&nbsp;</span><b>X</b></a></div>
					</div>
					<div class="cycle_news">
						<div class="left_img">
							<img src="/img/wl/funny/w_funny_1.jpg" alt="">
						</div>
						<div class="right_content">
							<div class="right_top_text01">
								<h2>你们小学的校花校草长什么样？</h2>
							</div>
							<div class="right_top_text02">
								<img src="/img/wl/funny/w_funny_icon_2.png" alt="">
								<span>悟空回答&nbsp;&nbsp;.&nbsp;&nbsp;</span>
								<span>1分钟前</span>
							</div>
						</div>
						<div class="right_x"><a href="##"><span>不感兴趣&nbsp;</span><b>X</b></a></div>
					</div>
				</div>
				<!-- 视频播放 -->
				<div class="news_video">

					<div class="list_name"><span></span><h3>新闻视频</h3><span></span></div>
					<!-- 第一条 start-->
					<div class="cycle_news">
						<div class="left_img">
							<video class="vjs-tech" controls="" src="/video/w_video_news.mp4"></video>
						</div>
						<div class="right_content">
							<div class="right_top_text01">
								<h2>央视快评：巩固发展反腐败斗争压倒性胜利</h2>
							</div>
							<div class="right_top_text02">
								<img src="/img/wl/funny/w_news_touxiang_1.jpg" alt="">
								<span>央视快评&nbsp;&nbsp;.&nbsp;&nbsp;</span>
								<span>3.7万次播放</span>
							</div>
						</div>
						<div class="right_x"><a href="##"><span>不感兴趣&nbsp;</span><b>X</b></a></div>
					</div>	
					<!-- 第一条 end-->	
					<div class="cycle_news">
						<div class="left_img">
							<video class="vjs-tech" controls="" src="/video/w_video_news.mp4"></video>
						</div>
						<div class="right_content">
							<div class="right_top_text01">
								<h2>央视快评：巩固发展反腐败斗争压倒性胜利</h2>
							</div>
							<div class="right_top_text02">
								<img src="/img/wl/funny/w_news_touxiang_1.jpg" alt="">
								<span>央视快评&nbsp;&nbsp;.&nbsp;&nbsp;</span>
								<span>3.7万次播放</span>
							</div>
						</div>
						<div class="right_x"><a href="##"><span>不感兴趣&nbsp;</span><b>X</b></a></div>
					</div>		
				</div>
				<!-- 风景列表 -->
				<div class="scenery_list">
					<div class="list_name"><span></span><h3>风景列表</h3><span></span></div>
					<!-- 第一条 start-->
					<div class="scenery_content">
					<div class="scenery_top">
						<h2>2019第一站&nbsp;&nbsp;&nbsp;&nbsp;你想去卓尔山吗？</h2>
					</div>
					<div class="scenery_center">
						<img src="/img/wl/funny/w_scenery_01.jpg" alt="">
						<img src="/img/wl/funny/w_scenery_02.jpg" alt="">
						<img src="/img/wl/funny/w_scenery_03.jpg" alt="">
						<img src="/img/wl/funny/w_scenery_04.jpg" alt="">
					</div>
					<div class="scenery_bottom">
						<div class="right_top_text02">
								<img src="/img/wl/funny/w_scenery_touxiang_01.jpg" alt="">
								<span>婧家阅会&nbsp;&nbsp;.&nbsp;&nbsp;</span>
								<span>评论&nbsp;&nbsp;.&nbsp;&nbsp;</span>
								<span>1小时前</span>
						</div>
					</div>
					</div>
					<!-- 第一条 end -->
					<div class="scenery_content">
					<div class="scenery_top">
						<h2>2019第一站&nbsp;&nbsp;&nbsp;&nbsp;你想去卓尔山吗？</h2>
					</div>
					<div class="scenery_center">
						<img src="/img/wl/funny/w_scenery_01.jpg" alt="">
						<img src="/img/wl/funny/w_scenery_02.jpg" alt="">
						<img src="/img/wl/funny/w_scenery_03.jpg" alt="">
						<img src="/img/wl/funny/w_scenery_04.jpg" alt="">
					</div>
					<div class="scenery_bottom">
						<div class="right_top_text02">
								<img src="/img/wl/funny/w_scenery_touxiang_01.jpg" alt="">
								<span>婧家阅会&nbsp;&nbsp;.&nbsp;&nbsp;</span>
								<span>评论&nbsp;&nbsp;.&nbsp;&nbsp;</span>
								<span>1小时前</span>
						</div>
					</div>
					</div>
				</div>
				<!-- 底部 -->
				<div class="main_bottom">
					<!-- <h5>.&nbsp;&nbsp;.&nbsp;&nbsp;&nbsp;&nbsp;加载中&nbsp;&nbsp;&nbsp;&nbsp;.&nbsp;&nbsp;.</h5> -->
					<span>.&nbsp;</span><span>.&nbsp;</span><h5>加载中</h5><span>&nbsp;.</span><span>&nbsp;.</span>
				</div>
			</div>
			<div class="others-box">
				<!-- 推荐tab面板 -->
				<div class="taobao_recommended">
					<div class="recommended_content">
						<div class='left'>
							<div class="img_top">
								<img src="/img/wl/funny/w_funny_tab_1.jpg" alt="">
							</div>
							<div class="text_bottom">
								<span class="new_price">￥99<span class="old_price">￥199</span></span>
								<span>销量：
									<span class="price">22</span>
								</span>
							</div>
						</div>
						<div class='right'>
							<div class="right_top">
								<a href="##" class="arrow_top"></a>
							</div>
							<div class="right_selects">
								<ul>
									<li class="selects">
										<img src="/img/wl/funny/w_funny_tab_1.jpg" alt="">
									</li>
									<li class="selects">
										<img src="/img/wl/funny/w_funny_tab_2.jpg" alt="">
									</li>

									<li class="selects">
										<img src="/img/wl/funny/w_funny_tab_3.jpg" alt="">
									</li>
									<li class="selects">
										<img src="/img/wl/funny/w_funny_tab_4.jpg" alt="">
									</li>

									<li class="selects">
										<img src="/img/wl/funny/w_funny_tab_5.jpg" alt="">
									</li>
									<li class="selects">
										<img src="/img/wl/funny/w_funny_tab_6.jpg" alt="">
									</li>

									<li class="selects">
										<img src="/img/wl/funny/w_funny_tab_7.jpg" alt="">
									</li>
									<li class="selects">
										<img src="/img/wl/funny/w_funny_tab_8.jpg" alt="">
									</li>

									<li class="selects">
										<img src="/img/wl/funny/w_funny_tab_9.jpg" alt="">
									</li>
									<li class="selects">
										<img src="/img/wl/funny/w_funny_tab_10.jpg" alt="">
									</li>

									
								</ul>
							</div>
							<div class="right_top">
								<a href="##" class="arrow_bottom"></a>
							</div>
						</div>
					</div>
				</div>
				<!-- 精彩图片 -->
				<div class="Wonderful_pictures">
					<div class="Wonderful_top"><h2>精彩图片</h2></div>
					<div class="Wonderful_content">
						<!-- 第一行 start-->
						<div class="Wonderful_img">
							<div class="img_content left">
								<div class="img_content_top"><img src="/img/wl/funny/w_wonderful_img_01.jpg" alt=""><span>5图</span></div>
								<div class="img_content_bottom">赵本山女儿演女一号演技被喷，走路一蹦一跳实在太机械</div>
							</div>
							<div class="img_content right">
								<div class="img_content_top"><img src="/img/wl/funny/w_wonderful_img_02.jpg" alt=""><span>5图</span></div>
								<div class="img_content_bottom">这位沉寂的歌手，前两天突然上了热搜！还被霍尊成为：魔王？</div>
							</div>
						</div>
						<!-- 第一行 end-->
						<div class="Wonderful_img">
							<div class="img_content left">
								<div class="img_content_top"><img src="/img/wl/funny/w_wonderful_img_03.jpg" alt=""><span>5图</span></div>
								<div class="img_content_bottom">赵本山女儿演女一号演技被喷，走路一蹦一跳实在太机械</div>
							</div>
							<div class="img_content right">
								<div class="img_content_top"><img src="/img/wl/funny/w_wonderful_img_04.jpg" alt=""><span>5图</span></div>
								<div class="img_content_bottom">这位沉寂的歌手，前两天突然上了热搜！还被霍尊成为：魔王？</div>
							</div>
						</div>
						<div class="Wonderful_img">
							<div class="img_content left">
								<div class="img_content_top"><img src="/img/wl/funny/w_wonderful_img_05.jpg" alt=""><span>5图</span></div>
								<div class="img_content_bottom">赵本山女儿演女一号演技被喷，走路一蹦一跳实在太机械</div>
							</div>
							<div class="img_content right">
								<div class="img_content_top"><img src="/img/wl/funny/w_wonderful_img_06.jpg" alt=""><span>5图</span></div>
								<div class="img_content_bottom">这位沉寂的歌手，前两天突然上了热搜！还被霍尊成为：魔王？</div>
							</div>
						</div>
						<div class="Wonderful_img">
							<div class="img_content left">
								<div class="img_content_top"><img src="/img/wl/funny/w_wonderful_img_07.jpg" alt=""><span>5图</span></div>
								<div class="img_content_bottom">赵本山女儿演女一号演技被喷，走路一蹦一跳实在太机械</div>
							</div>
							<div class="img_content right">
								<div class="img_content_top"><img src="/img/wl/funny/w_wonderful_img_08.jpg" alt=""><span>5图</span></div>
								<div class="img_content_bottom">这位沉寂的歌手，前两天突然上了热搜！还被霍尊成为：魔王？</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 友情链接 -->
				<div class="a_link">
					<div class="Wonderful_pictures pane-module">
						<div class="Wonderful_top module-head"><h2>友情链接</h2></div> 
						<ul class="friend-links-content">
							<li class="item"><a target="_blank" href="##">光明网</a></li>
							<li class="item"><a target="_blank" href="##">央广网</a></li>
							<li class="item"><a target="_blank" href="##">国际在线</a></li>
							<li class="item"><a target="_blank" href="##">中国西藏网</a></li>
							<li class="item"><a target="_blank" href="##">参考消息</a></li>
							<li class="item"><a target="_blank" href="##">环球网</a></li>
							<li class="item"><a target="_blank" href="##">中青在线</a></li>
							<li class="item"><a target="_blank" href="##">中青网</a></li>
							<li class="item"><a target="_blank" href="##">海外网</a></li>
							<li class="item"><a target="_blank" href="##">中国网</a></li>
							<li class="item"><a target="_blank" href="##">未来网</a></li>
							<li class="item"><a target="_blank" href="##">千龙网</a></li>
							<li class="item"><a target="_blank" href="##">新京报</a></li>
							<li class="item"><a target="_blank" href="##">北青网</a></li>
							<li class="item"><a target="_blank" href="##">法制晚报</a></li>
							<li class="item"><a target="_blank" href="##">北京晨报</a></li>
							<li class="item"><a target="_blank" href="##">北京商报</a></li>
							<li class="item"><a target="_blank" href="##">北京娱乐信报</a></li>
							<li class="item"><a target="_blank" href="##">奥一网</a></li>
							<li class="item"><a target="_blank" href="##">金羊网</a></li>
							<li class="item"><a target="_blank" href="##">华商网</a></li>
							<li class="item"><a target="_blank" href="##">新民网</a></li>
							<li class="item"><a target="_blank" href="##">红网</a></li>
							<li class="item"><a target="_blank" href="##">江苏网</a></li>
						</ul>
					</div>
				</div>
				<!-- 备案信息 -->
				<div class="Wonderful_pictures tody_news_info">
					<div class="company">
						<p class="J-company-name"> © 2019 今日头条</p> 
						<a href="##" target="_blank" ga_event="click_about">中国互联网举报中心</a> 
						<a href="##" target="_blank" ga_event="click_about">京ICP证140141号</a> 
						<div class="a">
							<a href="##" target="_blank" ga_event="click_about">京ICP备12025439号-3
    						</a> 
    						<a href="##" target="_blank" class="icp">网络文化经营许可证</a>
    					</div> 
    					<p>京-非经营性-2016-0081</p> 
    					<p>互联网药品信息服务资格证书</p>
    					<a href="##" target="_blank">跟帖评论自律管理承诺书</a> 
    					<p>违法和不良信息举报：010-58341833</p> 
    					<p>公司名称：北京字节跳动科技有限公司</p>
    					<a href="##" target="_blank" ga_event="click_about">
    					  	<img src="/img/wl/funny/w_funny_info_1.png">&nbsp;京公网安备 11000002002023号
    					</a>
    				</div>
				</div>
			</div>
		</div>
		<script src="/js/public.js"></script>
		<script src="/js/wl.js"></script>
	</body>
</html>
			




