*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
ul li{
	list-style: none;
}
button,[type="submit"],[type="button"]{
	cursor: pointer;
}
.clear:after{
	display: block;
	content: "";
	clear: both;
}