<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>头条问答</title>
		<link rel="stylesheet" href="/css/public.css" />
	</head>
	<body>
		<% include ../../module/header.html%>
		<div class="wrap clear">
			<% include ../../module/detail_menu.html%>
			<div class="main-box">
				<div class="question-answer-show">
					<div class="question-headline">
						<h3>你认为史上销量最高的十部手机是哪几部，性价比如何？</h3>
						<button type="button">关注问题</button>
						<button type="button">回答问题</button>
					</div>
					<ul>
						<li>
							<div class="clear">
								<img class="head-img" src="/img/f_noticer_touxiang_1.jpg" />
								<b>一直幸福的兔子</b>
								<span>评论(12)</span>
								<span>点赞(35)</span>
							</div>
							<div class="answer-content">
								应＂悟空小秘书＂邀答！
								你认为史上销量最高的十部手机是哪几部，性价比如何？
								接到这条答题，不得不把柜中的藏品抖出来亮个相，
								虽然一个人用的品牌手机不少，但五花八门的品牌更让人眼花缭乱。哪个好，哪个不好，早有外媒作了总结。
								这手机的好，在于当时为年代遥遥领先就为最好，可不能把过时的产品与今天的名牌相比。
								96年人们就传说诺基亚的手机好，可我们去商场购买时被一位女店员奉劝说＂海尔＂最好，所以花1450元买下了，时髦了几年坏了，只有换诺基亚的了。
								泰州市开始可以网上视屏通话，只有诺基亚，花3400元买下了，这是当时最好的手机，我在问答中好多图片都是几年前用它拍的，这个机晚上在广场上录舞台节目，其图像和录音都很好，特别是录音，如今的苹果也不如它，打开录音，放屋子中间，周围人的声音都很清楚，没有一点沙沙的杂音，很逼真，我用它翻录的喇叭放出来的碟片mp3，跟原声一样，我跟所有的其它机录音效果相比较，诺基亚就是第一。到现在这款黑色的诺基亚还完好，还有几块电池，我需要录音时还是拿出来使用它。
								人都喜欢跟着潮流走，看这么多旧手机，电池都没有扔掉，我半年充一次电，只要把卡一插，最低都能打电话，藏着它们这只能是个历史的回忆了。
								请往下看看历史上十部手机的先后次序吧！
								这种翻盖的好用笔写短信的机，当时花1150元买的，到现在还正常好用，有好多块电池还保存着。
								这个品牌没用过，用的是后来的三星品牌，有两块电池，插卡还有使用上网。
								这一种诺基亚没用过。
								以上两种没用过！
								我用的几个品牌都在第一张图中，可叹诺基亚不走时，如果发展到今天，它应该还是遥遥领先的，这只是历史的记忆，可忘不了它带给人们作出的更多的
								贡献！
							</div>
						</li>
						<li>
							<div class="clear">
								<img class="head-img" src="/img/f_noticer_touxiang_2.jpg" />
								<b>一直幸福的兔子</b>
								<span>评论(12)</span>
								<span>点赞(35)</span>
							</div>
							<div class="answer-content">这里是回答内容</div>
						</li>
						<li>
							<div class="clear">
								<img class="head-img" src="/img/f_noticer_touxiang_3.gif" />
								<b>一直幸福的兔子</b>
								<span>评论(12)</span>
								<span>点赞(35)</span>
							</div>
							<div class="answer-content">这里是回答内容</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="others-box">
				<div class="others-flow-box">
					<% include ../../module/hotest_news.html%>
					<% include ../../module/about_more.html%>
					<% include ../../module/friends_link.html%>
				</div>
				<div class="others-fixed-box">
					<% include ../../module/adver.html%>
					<% include ../../module/hot_news_24.html%>
				</div>
			</div>
		</div>
		<script src="/js/public.js"></script>
	</body>
</html>