<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>头条问答</title>
		<link rel="stylesheet" href="/css/public.css" />
	</head>
	<body>
		<% include ../../module/header.html%>
		<div class="wrap clear">
			<% include ../../module/detail_menu.html%>
			<div class="main-box">
				<div class="question-answer-show">
					<div class="question-headline">
						<h3>40年前，那个捡到价值10亿钻石的女孩，现在怎么样了？</h3>
						<button type="button">关注问题</button>
						<button type="button">回答问题</button>
					</div>
					<ul>
						<li>
							<div class="clear">
								<img class="head-img" src="/img/f_noticer_touxiang_1.jpg" />
								<b>一直幸福的兔子</b>
								<span>评论(12)</span>
								<span>点赞(35)</span>
							</div>
							<div class="answer-content">
								42年前，魏振芳发现了常林钻石。
								1977年12月21日，21岁的魏振芳当时是山东省临沭县常林大队的社员，当她在地里劳作一天，正想回家的时候，她发现地里竟然还有点草没有除干净，想着今天干脆把它锄干净了。
								当她拿着锄头除草时，这时在她第锄头锄下去的时候却从草里面蹦出来一个鸡蛋黄大小的透明黄色的石头。当时魏振芳也是很惊讶，但是也不知道这时什么东西，就把这块透明石头揣进了怀里，带回了家。回到家里后，魏振芳把这件事告诉了家人，家人认识到这可能是一颗钻石。
								魏振芳和家人怀着一颗纯朴的心，当时并没有多想就决定献给国家。魏振芳的父亲最后决定带着钻石亲自进京上交给中央。常林村干部看到这个东西是非常珍贵的，也不敢马虎，就就让公社配了民兵持枪一路护送魏振芳和父亲先到县里，然后到地区，再到省里，最后一路把钻石送到了北京，把这颗璀璨的钻石交到了中央。
								收到钻石后，国家相关专业人员立即进行了观察测量和称重。当天平的指针固定下来时，在场的人一片惊喜欢呼，158.786克拉，中国第一大钻石！这个钻石的重量在世界上都是罕见的。在当时的世界上，这颗钻石的重量是世界第二，亚洲第一，是钻石的“中国之最”，毫无疑问是国宝级的钻石。
								后来中国科学院等对这颗钻石进行了科学的测量和鉴定。非常令人震惊的是，这颗钻石属于优质钻石，钻体呈现出纯净的透明状态，呈淡黄色金刚光泽，折光能力特强，是迄今我国发现并保存下来的最大的一颗，可以说是钻石中的极品，因为是在常林发现的，后来华国锋为这颗钻石命名为“常林钻石”。常林钻石现收藏于中国人民银行。
								1978年1月，《人民日报》和“新闻联播”分别报道了山东省村民魏振芳献宝的事迹，一时间举国沸腾。魏振芳发现的这颗常林钻石，不仅使我国获得了这颗世界第二、亚洲第一的天然钻石。更使我国很快找到了大规模的金刚石原生矿。可以说魏振芳为国家作出了巨大的贡献。
								当鉴定结果出来以后，国家问魏振芳有什么要求时，魏振芳脸红了，淳朴的魏振芳只是为了常林村要了一台拖拉机。当时工作人员都非常感动，真的是感觉魏振芳是一位淳朴的姑娘。当时这颗钻石的股价就已经达到了10亿，真的是无价之宝，但是魏振芳并没有向国家索取什么。只是凭借着自己的淳朴继续为国家做着贡献。
								等到魏振芳献宝归来，1978年1月7日上午，中共临沂地委、临沭县委、原岌山公社党委在公社驻地曹庄召开了千人庆功大会。会上，魏振芳披红戴花，不仅奖给她千元奖金，而且还给她办理了城镇户口，安排到八O三矿当工人。而且国家也奖给常林大队24马力拖拉机一台。从这之后魏振芳就一直在政府安排的矿场上班，后面还干了工会主席甚至进了县政府工作。
								现在1956年出生的魏振芳已经是退休了，退休金也不算多，生活得也比较清贫。由于多年的劳动留下了不少病根，加上丈夫的身体也不太好，一家人的日子过得是紧巴巴的，但是生性淳朴的魏振芳还是继续享受着自己的生活。
								魏振芳献出的钻石是非常璀璨瑰丽的，但是我们却更能够从淳朴的魏振芳身上，看到她那一颗远远比钻石还要美好，还要纯净的心灵。
								感谢阅读，多谢！
							</div>
						</li>
						<li>
							<div class="clear">
								<img class="head-img" src="/img/f_noticer_touxiang_2.jpg" />
								<b>一直幸福的兔子</b>
								<span>评论(12)</span>
								<span>点赞(35)</span>
							</div>
							<div class="answer-content">
								魏振芳是幸运的，她用她朴实而真诚的一生，体会着平凡生活中的幸福，她因发现”常林钻石“而变得不平凡；魏振芳又是不幸的，她因为知识结构浅薄，错过了一次又一次飞升的机会，错过了可以让家庭条件更好的机会。
								<br />1、如今魏振芳的家庭。<br />
								如今已经退休的魏振芳每月拿着2000元的退休金，丈夫下岗在家，她只有一个儿子，后来参军考军校，现在这个儿子在城管局上班，同为独生子女的儿媳妇在乡镇中学当老师，还有两个孙子。总体来说，现在的魏振芳家庭还是很幸福的，但同样也比较清贫。
								<br />2、翻地翻出钻石后魏振芳的抉择。<br />
								说起40年前魏振芳和其父亲亲自到北京将钻石交给中央的事儿，就不得不提在这之前的艰难抉择。
								1977年12月21日下午，魏振芳在田间劳作，意外翻出一块通透的”大石头“，她觉得这可能是好东西，便将其带回家中，父母兄弟知道这件事后，给魏振芳讲述了一个这样的故事：
								说的是1937年秋天，常林不远的罗家莫瞳村一老人捡到一块281.25克拉的超级大钻石，当时的社会动荡不堪，老人因怀揣钻石遭到了很多不幸，后来被汉奸出卖，全家被汉奸屠杀，钻石也被抢走了；而后来有官员知道后，又把抢老汉钻石的汉江杀了，将钻石据为己有；但最终钻石还是被日本人抢去。
								所以，按照魏振芳父亲的意思，如此大的钻石在手，不一定是什么好事。
								就在魏振芳几个哥哥和父亲抉择不下的时候，面对前来看望的干部，父亲断然决定，钻石要和魏振芳一同亲手交给中央。
								经过测量，这颗魏振芳捡到的钻石重达158.7869克拉，为世界第二，亚洲第一大的钻石，而且纯度非常高，价值超过10亿元。
								<br />3、魏振芳出名后的人生经历。<br />
								在魏振芳亲手把钻石交给中央后，1978年中央报道了魏振芳的献宝事迹，从此魏振芳成为轰动国内外的名人。
								而此时与魏振芳相恋8年的男友，同样是朴实的农民，觉得自己配不上魏振芳了，有意躲着她，后来魏振芳坚决的和老公领了证书。
								而魏振芳出名后，国家奖励给其3000元现金和农转非的户口，并安排到工厂工作，也给她丈夫安排了农转非，还给他们村奖励了一辆拖拉机，并奖励给县城100万元（要知道这些钱和物品以及工作岗位，在当时都是巨款和巨大的福报）。
								本来在工厂魏振芳是可以自由选择轻松的岗位的，但她觉得自己没什么文化，坚持要在最累的分拣石英的岗位，这个岗位不比下地翻地轻松。
								出名后的魏振芳也不断受邀参加报告会，虽然有点为难，但她确实值得尊敬，后来魏振芳献宝事迹还被《半边天》报道。
								一直到1984年魏振芳被厂里全票通过选举成为领导班子成员，她却因为自己文化水平低，执意只当个小助理。
								80年代魏振芳还遇到过两个大变故，一个是自己换乳腺瘤，治疗5年痊愈；一个是丈夫因为工作原因精神失常。这让本就贫困的家庭变得更加清贫，好在魏振芳坚持了下来。
								可以说，魏振芳是我见过这个世界最知足的人，1999年她被调入县委工作，她非常满足，而她也从来没有因为自己的名人关系帮助家人，她唯一的儿子考军校时想让妈妈帮他一把，魏振芳只说了只能靠自己。
								2007年魏振芳退休后，每个月领着2000元退休金，丈夫下岗，家境可以说非常清贫。但魏振芳非常乐观，也非常幸福。
								<br />4、常林为什么出钻石？<br />
								常林钻石被魏振芳献宝后，国家在常林地界找到了更多的钻石，但是常林为什么盛产钻石呢？
								根据林沐县县志记载，1668年常林村发生了一场8.5级大地震，地震作用下，低下亿万年形成的金刚石被冲击到地表。
								我认为这一说法，很有科学道理，也非常靠谱。
								总之，无论魏振芳现在家庭条件是好是坏，她永远正派的形象鼓舞了无数的人，她值得我们尊敬。
							</div>
						</li>
						<li>
							<div class="clear">
								<img class="head-img" src="/img/f_noticer_touxiang_3.gif" />
								<b>一直幸福的兔子</b>
								<span>评论(12)</span>
								<span>点赞(35)</span>
							</div>
							<div class="answer-content">这里是回答内容</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="others-box">
				<div class="others-flow-box">
					<% include ../../module/hotest_news.html%>
					<% include ../../module/about_more.html%>
					<% include ../../module/friends_link.html%>
				</div>
				<div class="others-fixed-box">
					<% include ../../module/adver.html%>
					<% include ../../module/hot_news_24.html%>
				</div>
			</div>
		</div>
		<script src="/js/public.js"></script>
	</body>
</html>