<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>《红色通缉》第五集《筑坝》：红通逃犯欲潜逃国外 最终却在国内被捕</title>
		<link rel="stylesheet" href="/css/public.css" />
	</head>
	<body>
		<% include ../../module/header.html%>
		<div class="wrap clear">
			<% include ../../module/detail_menu.html%>
			<div class="main-box">
				<div class="detail-news-show">
					<h1>《红色通缉》第五集《筑坝》：红通逃犯欲潜逃国外 最终却在国内被捕</h1>
					<p>视频加载中...
					<p>每一名外逃腐败分子的归案，背后都是艰辛曲折的努力。在为追逃成果欣喜的同时，这些案件也提醒着：如果能防患
					于未然，筑起防逃的堤坝，将腐败分子及时挡在国门之内，才是上策。追逃防逃必须两手抓，这也是以习近平同志为核
					心的党中央多次强调的重要工作方针。</p>
					<p>习近平：我们把追逃追赃纳入反腐败工作总体部署，开展天网行动，打虎、拍蝇加猎狐，坚持防逃追逃两手
					抓。天网恢恢，疏而不漏。</p>
					<p>在党中央坚强领导下，各级党委落实全面从严治党主体责任，在开展追逃追赃的同时，也致力于构建不敢逃、不能
					逃的防逃机制。</p>
					<p>2017年的一个星期天，上海浦东国际机场和往常一样人来人往。往来的旅客当中，有一个人怀着异样的心情，他是
					准备从这里踏上外逃之路。</p>
					<p>郭永军（浙江省青田县人防办原副主任）：三十六计走为上策，先走。我们现在的话，逃跑。</p>
					<p>郭永军，浙江省丽水市青田县人防办原副主任。由于感觉到了被调查的风险，2017年7月2日，他计划搭乘CZ6077次航
					班，逃往越南胡志明市。</p>
					<p>在郭永军计划外逃一个月前，审计部门对他所在的青田县人防办进行审计，发现了他涉嫌贪污问题的线索。青田
					县纪委监委接到移交的线索并启动了初步核实，郭永军听到风声后决定外逃。</p>
					<p>郭永军：我认为始终是在初查期间，这么一种侥幸，所以说还敢试一试。</p>
					<p>郭永军对办案程序有一定了解，他知道一般是正式立案后才会启动防逃措施，而他判断对自己还处于初核阶
					段，决定尽快出逃。为了掩盖行踪，郭永军特意绕远路，让朋友开车送自己到温州，再从温州坐高铁到上海，车票
					也是以别人的名义买的。</p>
					<p>郭永军：我就是说你把我送到温州，你回去以后把手机扔掉就是了，你不要管，你就听我的就是了。</p>
					<p>郭永军还担心提前订票会被发现，所以到了机场才现场买票，选择了最近的一个到胡志明市的航班。只要过了边
					检、海关，他很快就能飞往国外了。</p>
					<p>郭永军：边检人员安检以后，他就叫我坐下等一等，他也很客气的，就是坐下来等一下。接下来他通知我就
					说，他那边联系了，他说你涉嫌经济问题不能出关。心里想的就是，这下走是走不了了。</p>
					<p>郭永军认为自己处于被初核阶段，这个判断其实没有错。但他没有想到的是，新建立起来的防逃机制，已经关
					注到了立案之前的管控真空问题。</p>
					<p>腊翊凡（中央纪委国家监委国际合作局局长）：这个也是我们不断总结经验教训，现在从这个立案之前，防逃措
					施就要跟进，要提前采取防逃措施。</p>
					<p>过去一些外逃案件显示，不少人正是在正式立案之前听到风声出逃的。因此，中央追逃办要求各地高度关注这段管
					控真空期，根据情况采取防逃措施。当时，青田县纪委监委接到关于郭永军的问题线索后，虽然还没有正式立案，但
					郭永军的一些特点让他们感到，有必要防范外逃风险，因此提前依法采取了防逃措施。</p>
					<p>方向（浙江省温州市纪委书记 监委代主任 时任浙江省丽水市纪委书记、监委主任）：他这个人，又是在青
					田侨乡，家里有亲属在外面做生意，在国外，所以我们感觉到，就是在查他的过程当中，要防止他外逃。</p>
					<p>郭永军被发现后，浦东机场迅速将他试图出境的消息通报相关部门，浙江省追逃办接到通报，判断郭永军外逃
					意图明显，当即依法展开追捕。</p>
					<p>郭兵（浙江省青田县纪委监委工作人员）：按照我们的组织要求，科级干部的护照应该是在组织部保管的，他不应
					该有这个能够出境的护照在身上的，这个是我们比较疑惑的问题。</p>
					<p>得知自己被限制出境，郭永军当即离开了浦东机场。他很快想好了后续打算，首先打车直奔杭州市桐庐县，目的
					是找表弟借用身份证。</p>
					<p>郭永军：表弟跟我有点儿像，我说你让我用一下，我可能需要这个身份证。当时我自己的身份证不能用了，我也清楚。</p>
					<p>郭永军还想到，再乘坐航班或火车肯定容易暴露。于是他找了某个关系人安排了一辆汽车，准备自己开车前往边
					境地带，再想办法偷渡出境。</p>
					<p>郭永军：开车这块还是没问题的，快一点也没问题。</p>
					<p>而另一边，对他的抓捕行动已经展开。2014年以来，中央反腐败协调小组制定了党员和国家工作人员外逃信息
					统计报告制度，如果发生人员外逃，必须24小时内逐级上报，并同步启动防逃程序。浙江省追逃办接到报告后，省
					市县三级追逃办的联动防逃机制立即启动，多地多部门都在寻找郭永军的去向，很快发现有线索显示他在桐庐县出现。
					当天傍晚时分，当郭永军驾车准备离开桐庐县，沿着迎春南路向高速公路入口方向行进时，相关部门锁定了这辆车。</p>
					<p>张启成（浙江省桐庐县纪委书记 监委主任）：（防逃办）通过呼叫，迎春南路有没有特警巡逻的。正好有一组巡逻特
					警在迎春南路县政府门口接到呼叫。</p>
					<p>陈焕明和他的搭档们就是当天接到呼叫，紧急追赶郭永军车辆的巡逻特警。</p>
					<p>陈焕明（浙江省桐庐县公安局工作人员）：当时给我们下的指令是，请马上到杭新景高速桐庐南拦截一辆浙A133H9的
					红色本田思域轿车。但是我们赶到桐庐收费站的时候，他已经上高速了。</p>
					<p>张启成：巡逻特警第一时间报告，红色小车已经上了高速，怎么办。我们第一时间反应，就是要追。</p>
					<p>巡逻特警一路追赶，终于发现了前方的红色轿车。考虑到在高速公路上拦截会带来安全隐患，指挥中心告知他们保
					持跟踪不要惊动，一旦确定郭永军要在哪里出高速，立即超车到收费站拦截。</p>
					<p>陈焕明：我们在离他距离不是特别远，能够看到这辆车的情况下，稍微跟了一段距离。他是进了杭州南这条高
					速，肯定要往杭州南这个收费站出去的时候，我们车子很快地赶上去，超越了他的车。</p>
					<p>巡逻特警的车辆赶在郭永军之前到达了收费站，四名特警迅速下车，分散把守各收费道口。他们刚刚就位，郭永
					军的车就开进了收费站。</p>
					<p>郭永军：到杭州南进，停下来要买票的时候，还没停稳，那边就开始叫了，停车停车。因为一叫停车，叫我，我就知道了。</p>
					<p>陈焕明：他蒙了，我们当时让他下车，他也没反应，叫他（把）车熄火，他也没反应。这个时候我们比较紧张的，因
					为他没熄火随时可以往前开。一看情况不对，就抓着他的手，打算把他拽下车了。</p>
					<p>从郭永军在机场被发现到成功抓捕，只用了12个小时。天网行动开展以来，截至2017年初，全国各地成功
					拦截了230名企图外逃出境的涉嫌违纪违法党员干部，郭永军就是其中之一。随后，办案人员查明了郭永军此
					前在上交护照时使用了调包计。</p>
					<p>郭兵：他自认为还是比较聪明的，交了一本假的护照在我们组织部保管。</p>
					<p>过往案件显示，不少外逃人员是持因私护照外逃。2014年以来，各级组织人事部门加强了对领导干部因私出国
					出境证件的管理，集中完善了登记备案人员信息库，并建立了集中保管制度。郭永军案件则提醒着，对上交来的证
					照还需要加强鉴别。</p>
					<p>罗悦明（浙江省纪委副书记 监委副主任 省追逃办主任）：我们全省最近郭永军事件以后，开始了一次证照的
					清理。接下来，要利用科技手段，加强对证照的识别。</p>
					<p>要建立有效的防逃机制，必须落实对党员干部的日常管理。按照天网行动统一部署，中央组织部会同公安部
					开展了违规办理和持有因私出国出境证件专项治理行动，取得明显成效。</p>
					<p>2014年，中央组织部针对裸官问题下发了管理办法，明确5类岗位裸官不得任职，各地根据规定对相关人员
					进行了岗位调整。2017年，新修订的《领导干部报告个人有关事项规定》出台，领导干部每年需按照规定如实
					报告家庭情况、境外资产情况等事项，对报告会定期进行抽查，一旦发现不如实报告将及时处理。</p>
					<p>李江南（中央组织部干部监督局副巡视员）：我们叫管住证，看紧人，你把证管住，他出不去了，把人
					盯紧了，就等于我把住了第一关。</p>
					<p>追逃追赃工作的重点一个是人，另一个是钱，防逃同样如此。有的腐败分子外逃之前资产先行，有的外逃之
					后由亲属和关系人通过地下渠道进行资金输送，为追逃带来难度。许多案例说明，只有切断腐败分子向海外非
					法转移资产的路径，才能让企图外逃的人员放弃出逃念头，促使已经外逃的人员投案自首。</p>
					<p>储士林，“百名红通人员”第79号，原青岛安华发展公司总经理、法定代表人。2012年7月他前往加拿大，听
					说国内对他立案调查的消息之后滞留不归。</p>
					<p>多伦多是加拿大最大的城市、经济和金融中心，这座城市有半数居民是来自全球各国的移民，也是加拿
					大华人最多的城市。2010年，储士林全家就办理了加拿大投资移民，他的家属搬到了多伦多生活。2012年，青
					岛市检察院发现储士林担任国企负责人期间，涉嫌贪污、挪用国有资产，同时也发现储士林已经有海外身份，
					检察院立即采取措施对储士林国内的资产进行冻结。</p>
					<p>李成亮（青岛市纪委监委工作人员 时任青岛市检察院工作人员）：因为你一旦把国内的财产转移到国外去
					的话，那我在国外，我就可以定居下来了。因为他本身在青岛有房产，在北京也有房产，在他的老家安徽
					他也有房产。那么在这三个地方，他全家也都开了银行账户，包括公司的账户又非常多。所以说我们也是分了
					好几路人马，把他所有银行账户冻结了，把他的房产已经冻结了。</p>
					<p>当时身在加拿大的储士林，很快发现国内的钱无法再动用了。</p>
				</div>
			</div>
			<div class="others-box">
				<div class="others-flow-box">
					<% include ../../module/hotest_news.html%>
					<% include ../../module/about_more.html%>
					<% include ../../module/friends_link.html%>
				</div>
				<div class="others-fixed-box">
					<% include ../../module/adver.html%>
					<% include ../../module/hot_news_24.html%>
				</div>
			</div>
		</div>
		<script src="/js/public.js"></script>
	</body>
</html>

