<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= title%></title>
		<link rel="stylesheet" href="/css/public.css" />
	</head>
	<body>
		<% include ../../module/header.html%>
		<div class="wrap clear">
			<% include ../../module/detail_menu.html%>
			<div class="main-box">
				<div class="detail-news-show">
					<h1>月球上长出的第一片绿叶是棉花叶子！</h1>
					<p>华龙网-新重庆客户端1月15日10时10分讯（记者 林楠）月球上长出的第一片绿叶是什么植物？今（15）日，重庆
					大学相关责任人在新闻发布会上透露，这片绿叶来自棉花。那么，这株棉花在月球上从一颗种子到生根发芽经历了什么？</p>
					<p>科普载荷随嫦娥四号登陆月球的第一天（1月3日）23:18分加电开机后，载荷内微型生态系统开始进入生物月面生长发育模
					式。从开机到1月12日20：00，地面发送了生物科普试验载荷断电指令，载荷正常关机，生物科普试验载荷在轨工作状态
					良好，累计工作时间长达212.75小时，主副相机累计拍照34次，下传照片170多幅，传回的照片显示，载荷内的种子发芽，实现
					了人类首次在荒芜的月球表面培养植物并生长出第一片绿叶，这将为人类今后建立月球基地提供研究基础和经验。教育部深
					空探测联合研究中心副主任、科普载荷总设计师、重庆大学先进技术研究院院长谢更新介绍，这片绿叶来自棉花种子。</p>
					<p>载荷在月面注水进行发芽和生长实验以后，经过9天时间进入月夜期。目前，生物科普试验载荷已进入断电状态，载荷内
					部在月夜温度零下52℃的情况下，所携带的6种生物将结束本次科普试验使命，处于冷冻状态。待下一个月昼期温度上升
					后，在全封闭状态的生物科普试验载荷罐中，6种生物将被慢慢分解成无害的有机物，并将被永久封存在生物科普试验载荷内部。</p>
					<p>为进一步凸显本次载荷的科研和科普价值，载荷项目团队还在地面同步开展了两组对照试验。对照试验分为封闭环境1:1对
					照和开放环境下的对照试验。1月3日晚23:50分，地面试验载荷与月表载荷同步注水，对照试验正式开始。整个地面对照试验全程
					以在轨工作的生物科普试验载荷传回的温度作为参考，地面对照通过控温，与在轨工作温度保持一致。</p>
					<p>截至1月12日，地面对照实验罐体内已陆续发现棉花、油菜种子萌发，且长势良好，可观察到嫩绿的子叶。开放环境下，可见
					油菜、棉花和马铃薯种子萌芽，幼苗呈茂盛生长趋势。</p>
				</div>
			</div>
			<div class="others-box">
				<div class="others-flow-box">
					<% include ../../module/hotest_news.html%>
					<% include ../../module/about_more.html%>
					<% include ../../module/friends_link.html%>
				</div>
				<div class="others-fixed-box">
					<% include ../../module/adver.html%>
					<% include ../../module/hot_news_24.html%>
				</div>
			</div>
		</div>
		<script src="/js/public.js"></script>
	</body>
</html>
