<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= title%></title>
		<link rel="stylesheet" href="/css/public.css" />
	</head>
	<body>
		<% include ../../module/header.html%>
		<div class="wrap clear">
			<% include ../../module/detail_menu.html%>
			<div class="main-box">
				<div class="detail-news-show">
					<h1>遮挡车牌扣12分？交警提示：这两种情况除外，这三种必须扣！</h1>
					<p>我们都知道车排队一辆车子的重要性，车牌也可以说是车辆的“身份证”了，机动车必须有车牌才能上路行驶，如果无牌行驶
					或者故意遮挡车牌，一旦被查到，将直接扣12分并罚款2000元！不过，虽然遮挡车牌是明令禁止的，但是世事无绝对。对于遮挡车牌这
					类的违规事件，也是要分情况的。遮挡车牌扣12分？交警：再说一次，这两种不用扣，这三种扣12分！</p>
					<img src="/img/f_single_img_1_1.jpg" />
					<p>遮挡车牌扣12分？交警提示：这两种情况除外，这三种必须扣！</p>
					<p>第一种：因泥雪覆盖而压线，不算违法。相信在座的各位车友所在的地区都下起了大雪了吧。针对这种情况，很多的汽车也在
					一夜之间被大雪所“掩盖”，有时候由于车主没有太过在意，积雪遮挡住了号牌就算被查到，只需要及时清理掉就没事。</p>
					<img src="/img/f_single_img_1_2.jpg" />
					<p>遮挡车牌扣12分？交警提示：这两种情况除外，这三种必须扣！
					<p>第二种：车牌的自然老化了，不算违法。汽车开久了自然会老化掉漆，而车牌也是一样的，难免会遇到老化掉漆的问题，而老
					化掉漆后的车牌肯定会有些不清晰。虽然不会被处罚，但是如果遇到这样的情况还是要第一时间去当地的车管所进行更换的。</p>
					<p>大家可以发现，我们国家的规定还是比较人性化的，这些原因都是可以不扣分不罚款的，但是交警也不是坐视不管的，一旦遇上
					某些情况，直接扣分罚款，甚至更严重，大家一定要注意了！</p>
					<p>第一：物体遮挡。</p>
					<p>第二：油漆涂抹。</p>
					<p>第三：利器损坏。</p>
					<img src="/img/f_single_img_1_3.jpg" />
					<p>遮挡车牌扣12分？交警提示：这两种情况除外，这三种必须扣！</p>
					<p>以上这三种做法一经查出，直接12分。车牌是属于自己爱车的身份铭牌，也请大家自觉的遵守交通法规，破坏交通的行为是万万
					不可的。在此也要为我们辛劳工作的交警们点个赞，同时也要呼吁广大车主都能够恪守规章制度，为大家的出行安全出一份力。
					对此，大家的看法如何呢？</p>
				</div>
			</div>
			<div class="others-box">
				<div class="others-flow-box">
					<% include ../../module/hotest_news.html%>
					<% include ../../module/about_more.html%>
					<% include ../../module/friends_link.html%>
				</div>
				<div class="others-fixed-box">
					<% include ../../module/adver.html%>
					<% include ../../module/hot_news_24.html%>
				</div>
			</div>
		</div>
		<script src="/js/public.js"></script>
	</body>
</html>


