<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= title%></title>
		<link rel="stylesheet" href="/css/public.css" />
	</head>
	<body>
		<% include ../../module/header.html%>
		<div class="wrap clear">
			<% include ../../module/detail_menu.html%>
			<div class="main-box">
				<div class="detail-news-show">
					<h1>中东部局地降温将超10℃ 南方雨雪持续</h1>
					<p>中国天气网讯 较强冷空气来袭，预计今明天（15-16日）中东部大部地区将先后降温4-8℃，局地降温幅度超10℃，
					气温由前期较常年同期偏高状态转为正常或略偏低。降水方面，北方大部降雪稀少，南方大范围雨雪持续。</p>
					<p>冷空气来袭 中东部局地降温超10℃</p>
					<p>俗话说“三九四九冰上走”，而今年自进入三九以后，全国持续回温，本该是一年中最寒冷的时间段，气温却一路走
					高，尤其东北、华北北部一带气温偏高最为显著。不过从昨天开始，一股较强冷空气开始影响我国，要将近期显著偏高的
					气拉回正常或略偏低的状态。</p>
					<img src="/img/f_single_img_2_1.jpg" />
					<p>中东部局地降温将超10℃ 南方雨雪持续</p>
					<p>昨天，黑龙江哈尔滨迎来2019年第一场雪。</p>
					<p>今明天，冷空气将继续南下影响中东部，中央气象台预计，受冷空气影响，15日08时至16日20时，东北地区中东
					部、华北、黄淮、江汉、江淮、江南东北部等地气温将下降6～8℃，其中，吉林东部等地的部分地区降温幅度可达10℃
					以上，长江中下游以北大部地区将有4～6级偏北风，阵风风力可达7～8级，东部和南部海区将先后有6～8级、阵风9级的大风。</p>
					<img src="/img/f_single_img_2_2.jpg" />
					<p>中东部局地降温将超10℃ 南方雨雪持续</p>
					<p>今天降温主要出现在北方，京津冀、山东、河南等地最高气温跌至0℃左右，相比前期5℃以上的最高气温，更显寒
					冷。像北京、太原，昨天最高气温都有6℃，但今天就降至-2℃，寒意十足。此次降温过程中，南方气温跌至谷底多在16日，江
					苏、安徽、湖南、江西等地最高气温降至5℃以下。</p>
					<p>不过降温之后，气温的反弹也非常迅速，除了今明两天气温可能较常年同期偏低之外，本周后半段，我国大部地区的气温
					将再度回升到比常年同期偏高的水平。16日夜间至18日，华北、黄淮一带的大气扩散条件将再次转差，雾、霾可能再度发展。</p>
					<p>南方雨雪持续 周四将迎间隙期</p>
					<p>随着冷空气的南下和暖湿气流交汇，南方新一轮降水再度发展，江淮、江汉、江南大部地区又将迎来大范围的阴雨。这次
					虽然范围再度扩大，但强度不强，以小雨或阵雨为主，安徽、湖南等地将有小雪或雨夹雪。</p>
					<p>中央气象台预计，今天新疆西部、黑龙江东部、吉林东部、甘肃南部、川西高原中北部、贵州北部、湖南北部、安徽南
					部、江西北部等地的部分地区有小雪或雨夹雪。江南中南部、华南、西南地区大部及台湾岛等地有小到中雨。</p>
					<img src="/img/f_single_img_2_3.jpg" />
					<p>中东部局地降温将超10℃ 南方雨雪持续
					<p>明天南方的雨雪范围将缩减，江南北部等地的部分地区有小到中雪或雨夹雪，局地有大雪。江南中南部、贵州东南
					部、云南东部、华南、台湾岛等地的部分地区有小到中雨。</p>
					<p>到周四，南方雨雪天气将出现间歇，晴朗范围大，前期没能见到阳光的西南东部、江南西部、华南西部等地也几乎
					没有雨水，或将迎来久违阳光。</p>
					<p>近期冷空气影响我国，气温现波动，公众需关注临近天气预报，注意添加衣物防寒保暖；北方降雪稀少天干物
					燥，需注意用电用火安全；南方雨雪持续，道路湿滑，外出需注意交通安全。</p>
				</div>
			</div>
			<div class="others-box">
				<div class="others-flow-box">
					<% include ../../module/hotest_news.html%>
					<% include ../../module/about_more.html%>
					<% include ../../module/friends_link.html%>
				</div>
				<div class="others-fixed-box">
					<% include ../../module/adver.html%>
					<% include ../../module/hot_news_24.html%>
				</div>
			</div>
		</div>
		<script src="/js/public.js"></script>
	</body>
</html>


