<!-- recommend.html -->
<% include ../module/header.html%>
		<div class="wrap clear">
			<% include ../module/menuer.html%>
			<div class="main-box">
				<div id="f-turns-box" class="clear">
					<ul id="f-turns-img">
						<li><a href="#"><img src="/img/f_turns_img_1.jpg" /></a><span>习近平与金正恩会晤</span></li>
						<li><a href="#"><img src="/img/f_turns_img_2.jpg" /></a><span>你关心的食品安全问题</span></li>
						<li><a href="#"><img src="/img/f_turns_img_3.jpg" /></a><span>来看看那些开心的时刻</span></li>
						<li><a href="#"><img src="/img/f_turns_img_4.jpg" /></a><span>史上最激烈的足球冠军争夺赛今日晚现场直播</span></li>
						<li><a href="#"><img src="/img/f_turns_img_5.jpg" /></a><span>我国与俄罗斯进行联合反恐演习</span></li>
						<li><a href="#"><img src="/img/f_turns_img_6.jpg" /></a><span>这些明星的逸闻趣事，你知道吗？</span></li>
					</ul>
					<ul id="f-turns-txt">
						<li data-num='0'>要闻</li>
						<li data-num='1'>社会</li>
						<li data-num='2'>娱乐</li>
						<li data-num='3'>体育</li>
						<li data-num='4'>军事</li>
						<li data-num='5'>明星</li>
					</ul>
				</div>
				<div id="f-not-read">
					您有未读新闻，点击查看
					<button type="button">×</button>
				</div>
				<ul id="f-new-list">
					<li>新闻1</li>
					<li>新闻2</li>
					<li>新闻3</li>
				</ul>
			</div>
			<div class="others-box">
				<form id="f-search" action="">
					<input type="search" name="search" placeholder="请输入你想搜索的内容" />
					<input type="submit" value="搜索" />
				</form>
				<div id="f-login">
					<div id="not-login">
						<p>登录后可以保存您的浏览喜好、评论、收藏，并与APP同步更可以发布微头条</p>
						<button type="button">登录</button>
						<ul>
							<li><img src="/img/f_login_icon_1.jpg" /><span>QQ</span></li>
							<li><img src="/img/f_login_icon_2.jpg" /><span>微信</span></li>
						</ul>
					</div>
					<div id="has-login">
						<p><button type="button">退出登录</button></p>
						<img id="head-img" src="/img/f_user_touxiang.jpg" />
						<div id="user-name">别样的感动</div>
						<ul>
							<li><b>关注</b><span>8</span></li>
							<li><b>粉丝</b><span>2</span></li>
						</ul>
					</div>
				</div>
				<div id="f-adv-cloths">
					衣服广告
				</div>
			</div>
		</div>
		<script src="/js/flc.js"></script>
	</body>
</html>
