<!-- recommend.html -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>今日头条首页</title>
		<link rel="stylesheet" href="/css/public.css" />
		<link rel="stylesheet" href="/css/flc.css" />
	</head>
	<body>
		<% include ../module/header.html%>
		<div class="wrap clear">
			<% include ../module/menuer.html%>
			<div class="main-box">
				<div id="f-turns-box" class="clear">
					<ul id="f-turns-img">
						<li><a href="#"><img src="/img/f_turns_img_1.jpg" /></a><span>习近平与金正恩会晤</span></li>
						<li><a href="#"><img src="/img/f_turns_img_2.jpg" /></a><span>你关心的食品安全问题</span></li>
						<li><a href="#"><img src="/img/f_turns_img_3.jpg" /></a><span>来看看那些开心的时刻</span></li>
						<li><a href="#"><img src="/img/f_turns_img_4.jpg" /></a><span>史上最激烈的足球冠军争夺赛今日晚现场直播</span></li>
						<li><a href="#"><img src="/img/f_turns_img_5.jpg" /></a><span>我国与俄罗斯进行联合反恐演习</span></li>
						<li><a href="#"><img src="/img/f_turns_img_6.jpg" /></a><span>这些明星的逸闻趣事，你知道吗？</span></li>
					</ul>
					<ul id="f-turns-txt">
						<li data-num='0' class="turns-txt-active-li">要闻</li>
						<li data-num='1'>社会</li>
						<li data-num='2'>娱乐</li>
						<li data-num='3'>体育</li>
						<li data-num='4'>军事</li>
						<li data-num='5'>明星</li>
					</ul>
				</div>
				<div id="f-not-read">
					<button type="button" class="look-btn">您有未读新闻，点击查看</button>
					<button type="button" class="close-btn">×</button>
				</div>
				<% include ../module/f_news_part.html%>
			</div>
			<div class="others-box">
				<div class="others-flow-box">
					<form id="f-search" action="">
						<input type="search" name="search" placeholder="请输入你想搜索的内容" />
						<input type="submit" value="搜索" />
					</form>
					<div id="f-login">
						<div id="not-login">
							<p>登录后可以保存您的浏览喜好、评论、收藏，并与APP同步更可以发布微头条</p>
							<button type="button" id="f-login-btn">登录</button>
							<ul>
								<li><img src="/img/f_login_icon_1.jpg" /><span>QQ</span></li>
								<li><img src="/img/f_login_icon_2.jpg" /><span>微信</span></li>
							</ul>
							<p>还没有账号？马上去<a class="go-regist-btn">注册</a></p>
						</div>
						<div id="has-login">
							<p><button type="button" id="out-login-btn">退出登录</button></p>
							<img id="head-img" src="/img/f_user_touxiang.jpg" />
							<div id="user-name">别样的感动</div>
							<ul>
								<li><b>关注</b><span>8</span></li>
								<li><b>粉丝</b><span>2</span></li>
							</ul>
						</div>
					</div>
					<% include ../module/adver.html%>
					<% include ../module/hot_news_24.html%>
					<% include ../module/good_img.html%>
					<% include ../module/about_more.html%>
				</div>
				<div class="others-fixed-box">
					<% include ../module/hotest_news.html%>
					<% include ../module/adver.html%>
				</div>
			</div>
		</div>
		<div id="login-cover">
			<form id='login-form'>
				<fieldset id="login-fieldset">
					<legend>登录</legend>
					<label><b>账号：</b><input type="text" name="number" placeholder="头条账号" /></label>
					<label><b>密码：</b><input type="password" name="pwd" placeholder="头条密码" /></label>
					<label id="input-code-label">
						<input type="text" name="code" placeholder="请输入验证码" />
						<img id="code" src="/flc/code" />
					</label>
					<p>登录即表示你同意 <a href="#">用户协议</a> 和 <a href="#">隐私条款</a><a href="#">忘记密码</a></p>
					<button type="button" id="login-btn">登录</button>
					<p>还没有账号？马上去<a class="go-regist-btn">注册</a></p>
				</fieldset>
				<button type="button" class="close-btn">×</button>
			</form>
			<form id='regist-form'>
				<fieldset id="regist-fieldset">
					<legend>注册</legend>
					<label><b>昵称：</b><input type="text" name="nickname" placeholder="账号昵称" required="required"/></label>
					<label><b>密码：</b><input type="password" name="pwd" placeholder="头条密码" required="required"/></label>
					<label><b>手机：</b><input type="text" name="tel" placeholder="手机号码" required="required"/></label>
					<p>注册即表示你同意 <a href="#">用户协议</a> 和 <a href="#">隐私条款</a></p>
					<button type="button" id="regist-btn">注册</button>
					<p>已有账号？马上去<a class="go-login-btn">登录</a></p>
				</fieldset>
				<button type="button" class="close-btn">×</button>
			</form>
		</div>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="/js/public.js"></script>
		<script src="/js/flc.js"></script>
	</body>
</html>
