<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>检察机关分别对殷福才、朱敏华、李建国、王民生决定逮捕</title>
		<link rel="stylesheet" href="/css/public.css" />
	</head>
	<body>
		<% include ../../module/header.html%>
		<div class="wrap clear">
			<% include ../../module/detail_menu.html%>
			<div class="main-box">
				<div class="detail-news-show">
					<h1>检察机关分别对殷福才、朱敏华、李建国、王民生决定逮捕</h1>
					<p>新京报快讯 据最高人民检察院微信公众号消息</p>
					<p>安徽省人民检察院依法对殷福才决定逮捕</p>
					<p>安徽省原环境保护厅副厅长殷福才(副厅级)涉嫌受贿罪、贪污罪一案，由安徽省监察委员会调查终结，移送检察机关审查起诉。
					近日，安徽省人民检察院依法对殷福才决定逮捕，并指定宿州市人民检察院对此案审查起诉。该案正在进一步办理中。</p>
					<p>江西检察机关依法对朱敏华决定逮捕</p>
					<p>江西省南昌市人大常委会原党组成员、副主任朱敏华(副厅级)涉嫌受贿罪一案，由江西省监察委员会调查终结，移送检察机
					关审查起诉。经江西省人民检察院指定管辖，由新余市人民检察院审查起诉。日前，新余市人民检察院依法对朱敏华决定逮捕。该案正在进一步办理中。</p>
					<p>江西检察机关依法对李建国决定逮捕</p>
					<p>江西广播电视台原党委委员、副台长李建国(副厅级)涉嫌受贿罪一案，由江西省监察委员会调查终结，移送检察机关审查起诉。
					经江西省人民检察院交办，由上饶市人民检察院审查起诉。日前，上饶市人民检察院依法对李建国决定逮捕。该案正在进一步办理中。</p>
					<p>河南检察机关依法对王民生决定逮捕</p>
					<p>河南省许昌经济技术开发区原党工委书记、管委会主任王民生(副厅级)涉嫌受贿罪一案，由河南省监察委员会调查终结，移送检察机关
					审查起诉。经依法指定管辖，由漯河市郾城区人民检察院审查起诉。日前，漯河市郾城区人民检察院依法对王民生决定逮捕。该案正在进一步办理中。</p>
					<p>编辑 康晰</p>
				</div>
			</div>
			<div class="others-box">
				<div class="others-flow-box">
					<% include ../../module/hotest_news.html%>
					<% include ../../module/about_more.html%>
					<% include ../../module/friends_link.html%>
				</div>
				<div class="others-fixed-box">
					<% include ../../module/adver.html%>
					<% include ../../module/hot_news_24.html%>
				</div>
			</div>
		</div>
		<script src="/js/public.js"></script>
	</body>
</html>
